// Colors

// Dark_theme
$Black: hsl(240, 4%, 13%); // #202023
$White: hsl(60, 100%, 96%); // #FFFFEB
$Yellow: hsl(38, 93%, 77%); // #FBD38D
$Pink: hsl(323, 100%, 69%); // #FF63C3
$Turquoise: hsl(172, 67%, 70%); // #81E6D9

// Light_theme
$Beige: hsl(34, 41%, 90%); // #F0E7DB
$Dark_grey: hsl(220, 26%, 14%); // #1A202C
$Purple: hsl(259, 59%, 59%); // #805AD5
$Blue: hsl(219, 83%, 58%); // #3D7AED
$Green: hsl(179, 51%, 39%); // #319795